* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.input_el {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vw;
  bottom: 25vh;
  position: relative;
}
#input_el {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  padding: 10px 10px;
}
ul {
  margin-left: 0;
  border-radius: 10px;
  width: 30vw;
  text-align: left;
  list-style: none;
  position: absolute;
  top: 39vh;
  background-color: rgba(255, 255, 255, 0.4);
}
li {
  position: relative;
  left: -14px;
  padding: 8px 0;
  border-bottom: 1px solid black;
}
